<?xml version="1.0" encoding="UTF-16"?>
<Task version="1.2" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">
  <RegistrationInfo>
    <Description>Claude Transcript ETL - Extracts Claude Code conversation data every {{INTERVAL_MINUTES}} minutes</Description>
  </RegistrationInfo>
  <Triggers>
    <TimeTrigger>
      <Repetition>
        <Interval>PT{{INTERVAL_MINUTES}}M</Interval>
        <StopAtDurationEnd>false</StopAtDurationEnd>
      </Repetition>
      <StartBoundary>2025-01-01T00:00:00</StartBoundary>
      <Enabled>true</Enabled>
    </TimeTrigger>
    <LogonTrigger>
      <Enabled>{{RUN_AT_LOGIN}}</Enabled>
    </LogonTrigger>
  </Triggers>
  <Settings>
    <MultipleInstancesPolicy>IgnoreNew</MultipleInstancesPolicy>
    <DisallowStartIfOnBatteries>false</DisallowStartIfOnBatteries>
    <StopIfGoingOnBatteries>false</StopIfGoingOnBatteries>
    <ExecutionTimeLimit>PT10M</ExecutionTimeLimit>
    <Hidden>false</Hidden>
  </Settings>
  <Actions>
    <Exec>
      <Command>{{PYTHON_PATH}}</Command>
      <Arguments>"{{ETL_SCRIPT_PATH}}"</Arguments>
      <WorkingDirectory>{{WORKING_DIR}}</WorkingDirectory>
    </Exec>
  </Actions>
</Task>
